<div class="page-header">
  <h1>
    Activity Actions
    <a href="/activity_actions/new" class="btn btn-lg btn-success">New Activity action</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Activity</th>
        <th>Action</th>
        <th>Actions</th>
      </tr>

      <% @activity_actions.each do |activity_action| %>
      <tr>
        <td><%= activity_action.activity.name %></td>
        <td><%= activity_action.action.name %></td>
        <td>

          <a href="/activity_actions/<%= activity_action.id %>/edit" class="btn btn-warning">Edit</a>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
