<!-- Validation failure messages -->
<% if @activity_action.errors.any? %>
  <% @activity_action.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Activity Action</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_activity_action" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>
        <%= select_tag :activity_id, options_from_collection_for_select(Activity.order("name ASC"), :id, :name, @activity_action.activity_id), :class => "form-control" %>
      </div>

      <!-- Label and input for action_id -->
      <div class="form-group">
        <label for="action_id" class="control-label">
          Action
        </label>
        <%= select_tag :action_id, options_from_collection_for_select(Action.order("name ASC"), :id, :name, @activity_action.action_id), :class => "form-control" %>
      </div>


      <button class="btn btn-success">
        Create Activity Action
      </button>
      or
      <a href="/activity_actions">Cancel</a>
    </form>
  </div>
</div>
