<!-- Validation failure messages -->
<% if @activity_category.errors.any? %>
  <% @activity_category.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Activity Category</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_activity_category" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <%= select_tag :activity_id, options_from_collection_for_select(Activity.order("name ASC"), :id, :name, @activity_category.activity_id), :class => "form-control" %>
      </div>

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag :category_id, options_from_collection_for_select(Category.order("name ASC"), :id, :name, @activity_category.category_id), :class => "form-control" %>
      </div>
      <button class="btn btn-success">
        Create Activity-Category
      </button>
      or
      <a href="/categories">Cancel</a>
    </form>

    </form>
  </div>
</div>
