<div class="page-header">
  <h3>Manufacturer #<%= @manufacturer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @manufacturer.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/manufacturers" class="btn btn-primary">
        Back
      </a>
      <a href="/manufacturers/<%= @manufacturer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_manufacturer/<%= @manufacturer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
